{% extends "base.html" %}
{% set title = "Education — Larah" %}

{% block content %}
  <h2>Education</h2>

  <div class="card">
    <h3>B.S. Computer Science</h3>
    <div class="meta">Western Governors University • 2021</div>
    <p class="muted">Bachelor of Science in Information Technology with hands-on training in systems, networking and security,
  programming, data management, and IT operations, informed by industry best practices.</p>
  </div>

  <div class="card">
    <h3>Certifications (optional)</h3>
    <ul>
      <li>ITIL® 4 Foundation Certification</li>
      <li>Comptia Security+</li>
      <li>Comptia Network+</li>
      <li>Comptia Project+</li>
    </ul>
  </div>
{% endblock %}
